<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="sourceName" value="OmarApp" />
	</appSettings>

	<connectionStrings>
		<add name="DvldDB" connectionString="Server=(localdb)\MSSQLLocalDB; Initial Catalog=DVLD; Integrated Security=True; MultipleActiveResultSets=True;" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>